# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TPCertificatif_ZiYuChen_NicolasH-L.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Beanz\Documents\ProjetUnityEcole\TPCertificatif_ZiYuChen_NicolasH-L\.idea\.idea.TPCertificatif_ZiYuChen_NicolasH-L\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
