# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TeriTeriAdventures.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Beanz\Documents\ProjetUnityEcole\TPCertificatif\TeriTeriAdventures\.idea\.idea.TeriTeriAdventures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
